.welcome {
    margin: 0 auto;
    margin-top: 82px;
    text-align: left;
}

.welcome__top-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.02em;
    color: var(--text-color);
}

.welcome__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -0.04em;
    color: var(--text-color2);
}

.welcome__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.04em;
    color: var(--black-50);
    font-family: var(--font-family);
    margin: 15px 0 14px;
}